.singleProComponent {
  padding-top: 5rem;
}
.singleProNavigation {
  padding: 15px 25px;
  background-color: rgb(249, 249, 249);
}
.singlePro {
  display: flex;
  margin-top: 20px;
}
.singleProGallery {
  width: 50%;
  overflow: hidden;
  background-color: brown;
}
.swipeImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
.swipeImage img {
  width: 58%;
}
.singleProDetails {
  background-color: aquamarine;
  width: 50%;
  padding: 1.5rem;
}

@media (max-width: 1000px) {
  .singlePro {
    flex-direction: column;
    margin-top: 0;
  }
  .singleProGallery {
    height: 70vh;
    width: 100%;
  }
  .swipeImage {
    height: 70vh;
  }
  .swipeImage img {
    width: 100%;
  }
  .singleProDetails {
    width: 100%;
    height: 50vh;
  }
}
@media (max-width: 920px) {
  .singleProComponent {
    padding-top: 4rem;
  }
}
@media (max-width: 700px) {
  .singleProNavigation {
    display: none;
  }
}
@media (max-width: 520px) {
  .singleProComponent {
    padding-top: 3.7rem;
  }
}
@media (max-width: 440px) {
  .singleProGallery {
    height: auto;
  }
  .swipeImage {
    height: auto;
  }
  .swipeImage img {
    width: 100%;
  }
}
@media (max-width: 330px) {
  .singleProComponent {
    padding-top: 2rem;
  }
}
@media (max-width: 305px) {
  .singleProComponent {
    padding-top: 1rem;
  }
}
